# prettier-ignore

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ project_name }}-web
  namespace: default
  labels:
    app: {{ project_name }}
    component: web
    layer: application
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ project_name }}
      component: web
      layer: application
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {{ project_name }}
        component: web
        layer: application
      name: {{ project_name }}-web
    spec:
      containers:
      - envFrom:
        - configMapRef:
            name: {{ project_name }}-environment
        image: {{ project_repo }}:staging
        imagePullPolicy: Always
        name: {{ project_name }}-web
        ports:
        - name: http
          containerPort: 8080
{% filter indent(width=6, first=True) %}{% include 'templates/dns.yml.j2' %}{% endfilter %}

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: http
    service.beta.kubernetes.io/aws-load-balancer-connection-draining-enabled: 'true'
    service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: '300'
    service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: 'true'
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: {{ artsyNetWildcardSSLCert }}
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: '443'
  labels:
    app: {{ project_name }}
    component: web
    layer: application
  name: {{ project_name }}-web
  namespace: default
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  - name: https
    port: 443
    protocol: TCP
    targetPort: http
  selector:
    app: {{ project_name }}
    component: web
    layer: application
  sessionAffinity: None
  type: LoadBalancer
